.heading {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    margin: 2rem;
}

.heading span {
    color: var(--main-color);
}

.item--container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem , 1fr));
    gap: 1.5rem;
    max-width: 1600px;
    margin: 0 auto 4rem;
}
